.boxcontainer{
  padding:2rem 7%;
}
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #333;
    color: #fff;
    font-size: 1.3rem;
  }

  tr {
    font-size: 1.5rem;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }